.grid{
    font-size: 30px;
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(3, 100px) ;
    gap: 10px;
}
.grid > * {
    background-color : rgb(28, 191, 255);
    border : black solid 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
header, footer{
    grid-column: 1 / 4;
}